.EntityView
  width: 0px
  height: 0px
  background-attachment: fixed

.ConveyorView
  z-index: 10
  background url('img/conveyor.png')

.CrusherView
  z-index: 80
  background url('img/crusher.png')

.ExpressConveyorView
  z-index: 10
  background url('img/conveyor-express.png')

.RobotView
  z-index: 50
  background url('img/roombo.png')

.TurnerLView .TurnerRView .TurnerUView
  z-index: 15

.TurnerLView
  background url('img/turnL.png')

.TurnerRView
  background url('img/turnR.png')

.TurnerUView
  background url('img/turnU.png')

.HoleView
  background url('img/hole.png')

.WallView
  background url('img/wall.png')

