.EntityView
  width: 0px
  height: 0px
  background-attachment: fixed

.ConveyorView
  z-index: 10
  background url('img/entities/conveyor.png')

.CrusherView
  z-index: 80
  background url('img/entities/crusher.png')

.ExpressConveyorView
  z-index: 10
  background url('img/entities/conveyor-express.png')

.RobotView
  z-index: 50
  background url('img/entities/roombo.png')

.TurnerLView .TurnerRView .TurnerUView
  z-index: 15

.TurnerLView
  background url('img/entities/turn-l.png')

.TurnerRView
  background url('img/entities/turn-r.png')

.TurnerUView
  background url('img/entities/turn-u.png')

.HoleView
  background url('img/entities/hole.png')

.WallView
  background url('img/entities/wall.png')

