@import 'mixin'
@import 'entities'

body
  background: #000
  color: #363636

#header
  overflow: hidden;
  height: 50px;
  border-box()
  inset-box-shadow(0px, -1px, 3px, #1d1d1d)
  vbg-gradient( #474747, #303030)

header()
  line-height: 50px;
  float: left;
  padding: 0 20px;
  margin: 0;
  color: #FFF;
  border-right: 1px solid #181818;
  box-shadow(1px, 0px, 1px, #525252)
  text-shadow: 0 -1px 1px black;
  font-weight: bold;

#header h1
  header()
  font-size: 18px;

#header div
  display: inline-block

button
  border: 1px solid #bbbbbb;
  font-weight: bold;
  text-shadow: 0 1px 1px #ffffff;
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
  font-size: 14px;
  color: #363636;
  padding: 6px 10px;
  margin: 1px 1px 1px 0;
  outline: none;
  background: #f9f9f9;
  vbg-gradient(#f9f9f9, #e3e3e3)
  border-radius(3px)
  box-shadow(0, 1px, 1px, #ffffff)

  &:active
    vbg-gradient(#e3e3e3, #f9f9f9)

  &.default
    color: #ffffff;
    border: 1px solid #3f68a5;
    text-shadow: 0 -1px 1px #46677f;
    vbg-gradient( #7bb5db, #4775b8)

  &.default:active
    vbg-gradient(#4775b8, #7bb5db)

.MenuLevel1
  header()
  font-size: 18px;
  display: inline-block
  cursor: pointer;

.MenuLevel2
  header()
  font-size: 16px;
  display: inline-block
  cursor: pointer;

.TestInputBox
  background: #CCC
  margin: 10px 10px
  padding: 10px 20px

.GameView
  background: #CCC
  margin: 20px 10px
  padding: 10px 20px 20px 20px

.GameView td
  vertical-align: top

.GameStateView
  color: #666
  padding-top: 5px
  font-size: 0.7em

.GameBoardAndPlayersView
  display: table
  width: 100%

.GamePlayersView
  display: table-cell
  vertical-align: top
  width: 360px

.PlayerView
  background: #ccf
  padding: 10px
  margin-left: 10px

.PlayerNameView
  color: #333
  text-shadow: 0 1px -1px #fff;
  margin-bottom 10px
  font-weight bold

.BoardView
  padding: 34px
  background: #000
  overflow: hidden
  display: table-cell
  vertical-align: top

.BoardViewTiles
  background url('img/entities/ground.png')
  width: 100%
  height: 100%
  position: relative
  left: 0
  top: 0

.BoardViewTiles .EntityView
  position: absolute

.PlayerRobotView .RobotView
  display: inline-block

.RobotCardViews
  overflow: hidden
  padding-left: 0px
  list-style-type: none

.SortableRobotCardViews
  background: #88F

.CardView
  float: left
  width: 55px
  height: 80px
  margin: 5px
  padding: 5px

  .CardViewPriority
    font-style: italic
    width: 100%
    text-align: right

  .CardViewText
    font-weight: bold
    width: 100%
    text-align: center
    margin-top 20px

.ActiveCard
  background: #888
  border: solid #555 2px
  color: #EEE

.PasiveCard
  background: #444
  border: solid #000 2px
  color: #EEE
		


.EditorView

  .EditorSidebar
    margin: 10px
    padding: 5px
    border-radius: 5px
    background: #555
    width: 150px
    float:left

    .EditorCategory
      background: #777
      margin: 5px 5px 10px 5px
      border-radius: 3px

    .EditorPalette
      padding:3px
      .EntityView
        float:left

  .EditorBoard
    float: left


.TileHint
  width:190px
  border-radius: 5px
  box-shadow(0, 4px, 4px, #333)
  background: #555
  padding: 5px
  position: absolute
  z-index: 1000

  .TileHintEntity
    border-radius: 10px
    background: #777
    margin: 5px
    .TileHintEntityRotL, .TileHintEntityRotR, .TileHintEntityDestroy
      padding: 1px

    .TileHintEntityView
      display: inline-block
      position: static !important
