@import 'mixin'
@import 'theme'

#header
  overflow: hidden;
  height: 50px;
  border-box()
  inset-box-shadow(0px, -1px, 3px, #1d1d1d)
  vbg-gradient( #474747, #303030)

#header h1
  line-height: 50px;
  float: left;
  padding: 0 20px;
  font-size: 18px;
  margin: 0;
  color: #FFF;
  border-right: 1px solid #181818;
  box-shadow(1px, 0px, 1px, #525252)
  text-shadow: 0 -1px 1px black;
  font-weight: bold;

.TestInputBox
  background: #CCC
  margin: 10px 10px
  padding: 10px 20px

.GameView
  background: #CCC
  margin: 20px 10px
  padding: 10px 20px 20px 20px

.GameViewName
  color: #333
  text-shadow: 0 1px -1px #fff;
  margin-bottom 10px
  font-weight bold

.BoardView
  padding: 34px
  background: #000

.BoardViewTiles
  position: relative
  left 0
  top 0

.TileView
  position: absolute
  background url('../img/ground.png')

.EntityView
  position: absolute
  width: 0px
  height: 0px

.ConveyorView
  z-index: 10
  background url('../img/conveyor.png')

.ExpressConveyorView
  z-index: 10
  background url('../img/conveyor_express.png')
