@import 'mixin'
@import 'theme'

body
  background: #000
  color: #CCC

#header
  overflow: hidden;
  height: 50px;
  border-box()
  inset-box-shadow(0px, -1px, 3px, #1d1d1d)
  vbg-gradient( #474747, #303030)

header()
  line-height: 50px;
  float: left;
  padding: 0 20px;
  margin: 0;
  color: #FFF;
  border-right: 1px solid #181818;
  box-shadow(1px, 0px, 1px, #525252)
  text-shadow: 0 -1px 1px black;
  font-weight: bold;

#header h1
  header()
  font-size: 18px;

#header div
  display: inline-block

.MenuLevel1
  header()
  font-size: 18px;
  display: inline-block
  cursor: pointer;

.MenuLevel2
  header()
  font-size: 16px;
  display: inline-block
  cursor: pointer;

.TestInputBox
  background: #CCC
  margin: 10px 10px
  padding: 10px 20px

.GameView
  background: #CCC
  margin: 20px 10px
  padding: 10px 20px 20px 20px

.GameView td
  vertical-align: top

.GameViewName
  color: #333
  text-shadow: 0 1px -1px #fff;
  margin-bottom 10px
  font-weight bold

.PlayerView
  background: #ccf
  padding: 10px
  margin: 10px

.PlayerViewName
  color: #333
  text-shadow: 0 1px -1px #fff;
  margin-bottom 10px
  font-weight bold

.BoardView
  padding: 34px
  background: #000
  overflow: hidden

.BoardViewTiles
  background url('../img/ground.png')
  width: 100%
  height: 100%
  position: relative
  left: 0
  top: 0



.EntityView
  width: 0px
  height: 0px
  background-attachment: fixed

.BoardViewTiles .EntityView
  position: absolute



.ConveyorView
  z-index: 10
  background url('../img/conveyor.png')

.CrusherView
  z-index: 80
  background url('../img/crusher.png')

.ExpressConveyorView
  z-index: 10
  background url('../img/conveyor_express.png')

.RobotView
  z-index: 50
  background url('../img/roombo.png')

.TurnerLView .TurnerRView .TurnerUView
  z-index: 15

.TurnerLView
  background url('../img/turnL.png')

.TurnerRView
  background url('../img/turnR.png')

.TurnerUView
  background url('../img/turnU.png')

.HoleView
  background url('../img/hole.png')


.PlayerRobotView .RobotView
  display: inline-block


.CardView
  width: 55px
  height: 80px
  display: inline-block
  background: #555
  border: solid #000 2px
  color: #EEE
  margin: 10px
  padding: 3px

  .CardViewPriority
    font-style: italic
    width: 100%
    text-align: right

  .CardViewText
    font-weight: bold
    width: 100%
    text-align: center
    margin-top 20px


.EditorView

  .EditorSidebar
    margin: 10px
    padding: 5px
    border-radius: 5px
    background: #555
    width: 150px
    float:left

    .EditorCategory
      background: #777
      margin: 5px 5px 10px 5px
      border-radius: 3px

    .EditorPalette
      padding:3px
      .EntityView
        float:left

  .EditorBoard
    float: left


.TileHint
  width:190px
  border-radius: 5px
  box-shadow(0, 4px, 4px, #333)
  background: #555
  padding: 5px
  position: absolute
  z-index: 1000

  .TileHintEntity
    border-radius: 10px
    background: #777
    margin: 5px
    .TileHintEntityRotL, .TileHintEntityRotR, .TileHintEntityDestroy
      padding: 1px

    .TileHintEntityView
      display: inline-block
      position: static !important
